<div class="wrapper">

<main class="full-box main-container">
  <!-- Nav lateral -->
  <section class="nav-lateral">
    <div class="nav-lateral-bg show-nav-lateral"></div>
    <div class="nav-lateral-content">
      <figure class="nav-lateral-avatar">
        <i class="far fa-times-circle show-nav-lateral"></i>
        <img
          src="../../../assets/Logo-UPB-2022.svg"
          class="img-fluid"
          alt="Avatar"
        />
        <div class="logo">UPB</div>   
        <figcaption class="roboto-medium text-center">
          Leading Company <br /><small class="roboto-condensed-light"
            >Panel Administración</small
          >
        </figcaption>
      </figure>
      <div class="nav-lateral-bar"></div>
      <nav class="nav-lateral-menu">
        <ul>
          <li>
            <a href="home.html"
              ><i class="fab fa-dashcube fa-fw"></i> &nbsp; Dashboard</a
            >
          </li>

          <li>
            <a href="#" class="nav-btn-submenu"
              ><i class="fas fa-users fa-fw"></i> &nbsp; Clientes
              <i class="fas fa-chevron-down"></i
            ></a>

          </li>

          <li>
            <a href="#" class="nav-btn-submenu"
              ><i class="fas fa-user-secret fa-fw"></i> &nbsp; Usuarios
              <i class="fas fa-chevron-down"></i
            ></a>

          </li>
        </ul>
      </nav>


    </div>
  </section>

  <!-- Page content -->
</main>
<div class="bodis">
    <h1 class="title">Home</h1>
    <h2>BIENVENIDO ESTO ES EL HOME</h2>
</div>
</div>
