<div class="d-flex">
  <app-footer></app-footer>
  <div class="main-content">
    <div class="table">
      <thead>
        <tr class="table-row-height">
          <td colspan="10">
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center">
                <label class="mr-2">Mostrar</label>
                <select
                  (change)="updatePageSize($event)"
                  [(ngModel)]="pageSize"
                  class="form-control mr-2 align-items-right"
                >
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                <label>registros</label>
              </div>
              <form class="form-inline d-flex ml-auto" role="search">
                <input
                  class="form-control me-2"
                  type="search"
                  placeholder="Buscar"
                  aria-label="Buscar"
                  (input)="updateSearchText($event)"
                />
              </form>
            </div>
          </td>
        </tr>
      </thead>

      <table class="table table-striped">
        <thead>
          <tr>
            <!-- <th scope="col">#</th> -->
            <th scope="col">Aula</th>
            <th scope="col">Software</th>
            <!-- <th scope="col">Facultad</th> -->
            <!-- <th scope="col"># Alumnos</th> -->
            <th scope="col">Fecha Registro</th>
            <!-- <th scope="col">Hora Registro</th>
            <th scope="col">Hora Inicial</th>
            <th scope="col">Hora Final</th> -->
            <th scope="col">Detalle</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let reporte of filteredReportlist | paginate: { itemsPerPage: 5, currentPage: page }"> -->

            <tr *ngFor="let reporte of paginatedReports; let i = index">
              <td>{{ reporte.t_aula }}</td>
              <td>{{ reporte.t_software }}</td>
              <td>{{ reporte.d_fecha }}</td>
              <!-- <td>{{ reporte.n_cantidad }}</td>
              <td>{{ reporte.d_horaini | horaCorta }}</td>
              <td>{{ reporte.d_horafin | horaCorta }}</td> -->
              <td>
                <!-- Button trigger modal -->
                <button
                  type="button"
                  class="btn btn-outline-info"
                  data-bs-toggle="modal"
                  [attr.data-bs-target]="'#modalDetalle' + i" 
                >
                  Detalle
                </button>
                <!-- Modal -->
                <div
                  class="modal fade"
                  [id]="'modalDetalle' + i" 
                  data-bs-backdrop="static"
                  data-bs-keyboard="false"
                  tabindex="-1"
                  aria-labelledby="modalDetalleLabel"
                  aria-hidden="true"
                >
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="modalDetalleLabel">
                          Detalle Solicitud
                        </h5>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        <th scope="row">Numero solicitud:{{ reporte.n_idsaulas }}</th>
                        <p>Docente :{{ reporte.t_nombrecompleto }}</p>
                        <p>Aula :{{ reporte.t_aula }}</p>
                        <p>Sotfware :{{ reporte.t_software }}</p>
                        <p>Facultad :{{ reporte.t_facultad }}</p>
                        <p>Numero Estiduiantes :{{ reporte.n_cantidad }}</p>
                        <p>Fecha Solicitud :{{ reporte.d_fecha | date }}</p>
                        <p>Hora Solicitud : {{ reporte.d_hora | horaCorta }}</p>
                        <p> {{ reporte.d_horaini | horaCorta }}</p>
                        <p>{{ reporte.d_horafin | horaCorta }}</p>
                        <!-- Añade más detalles según sea necesario -->
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-bs-dismiss="modal"
                        >
                          Cerrar
                        </button>
                        <button type="button" class="btn btn-primary">
                          Entendido
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="pagination-buttons">
      <button
        (click)="prevPage()"
        [disabled]="currentPage === 0"
        class="btn btn-outline-secondary"
      >
        Anterior
      </button>
      <button
        (click)="nextPage()"
        [disabled]="(currentPage + 1) * pageSize >= reportlist.length"
        class="btn btn-outline-secondary"
      >
        Siguiente
      </button>
    </div>
  </div>
</div>
