<p>dashboard works!</p>
<div class="d-flex">
<app-footer></app-footer>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-2 mb-2">
            <div class="card custom-card bg-light text-dark">
                <div class="card-body">
                    <p class="card-text">0<i class="icon-size bi bi-archive icon-right "></i></p>
                    <a href="/front/ticket.php?criteria%5B0%5D%5Bfield%5D=12&amp;criteria%5B0%5D%5Bsearchtype%5D=equals&amp;criteria%5B0%5D%5Bvalue%5D=6&amp;reset=reset" class="card-link">Ver Detalles</a>
                    <h5 class="card-title">Casos cerrados</h5>
                </div>
            </div>
        </div>
        <div class="col-md-2 mb-2">
            <div class="card custom-card bg-warning text-dark">
                <i class="icon-size bi bi-exclamation-triangle icon-top-right"></i>
                <div class="card-body">
                    <h5 class="card-title">Tickets</h5>
                    <p class="card-text">0</p>
                    <a href="/front/ticket.php?reset=reset" class="card-link">Ver Detalles</a>
                </div>
            </div>
        </div>
        <div class="col-md-2 mb-2">
            <div class="card custom-card bg-success text-light">
                <i class="icon-size bi bi-inbox icon-top-right"></i>
                <div class="card-body">
                    <h5 class="card-title">Casos entrantes</h5>
                    <p class="card-text">0</p>
                    <a href="/front/ticket.php?criteria%5B0%5D%5Bfield%5D=12&amp;criteria%5B0%5D%5Bsearchtype%5D=equals&amp;criteria%5B0%5D%5Bvalue%5D=1&amp;reset=reset" class="card-link">Ver Detalles</a>
                </div>
            </div>
        </div>
        <div class="col-md-2 mb-2">
            <div class="card custom-card bg-warning text-dark">
                <i class="icon-size bi bi-hourglass-split icon-top-right"></i>
                <div class="card-body">
                    <h5 class="card-title">Casos pendientes</h5>
                    <p class="card-text">0</p>
                    <a href="/front/ticket.php?criteria%5B0%5D%5Bfield%5D=12&amp;criteria%5B0%5D%5Bsearchtype%5D=equals&amp;criteria%5B0%5D%5Bvalue%5D=4&amp;reset=reset" class="card-link">Ver Detalles</a>
                </div>
            </div>
        </div>
        <div class="col-md-2 mb-2">
            <div class="card custom-card bg-primary text-light">
                <i class="icon-size bi bi-person-check icon-top-right"></i>
                <div class="card-body">
                    <h5 class="card-title">Casos asignados</h5>
                    <p class="card-text">0</p>
                    <a href="/front/ticket.php?criteria%5B0%5D%5Bfield%5D=12&amp;criteria%5B0%5D%5Bsearchtype%5D=equals&amp;criteria%5B0%5D%5Bvalue%5D=2&amp;reset=reset" class="card-link">Ver Detalles</a>
                </div>
            </div>
        </div>
        <div class="col-md-2 mb-2">
            <div class="card custom-card bg-info text-light">
                <i class="icon-size bi bi-calendar-check icon-top-right"></i>
                <div class="card-body">
                    <h5 class="card-title">Casos planeados</h5>
                    <p class="card-text">0</p>
                    <a href="/front/ticket.php?criteria%5B0%5D%5Bfield%5D=12&amp;criteria%5B0%5D%5Bsearchtype%5D=equals&amp;criteria%5B0%5D%5Bvalue%5D=3&amp;reset=reset" class="card-link">Ver Detalles</a>
                </div>
            </div>
        </div>
        <div class="col-md-2 mb-2">
            <div class="card custom-card bg-secondary text-light">
                <i class="icon-size bi bi-check-circle icon-top-right"></i>
                <div class="card-body">
                    <h5 class="card-title">Casos resueltos</h5>
                    <p class="card-text">0</p>
                    <a href="/front/ticket.php?criteria%5B0%5D%5Bfield%5D=12&amp;criteria%5B0%5D%5Bsearchtype%5D=equals&amp;criteria%5B0%5D%5Bvalue%5D=5&amp;reset=reset" class="card-link">Ver Detalles</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <!-- Placeholder for additional content or a grid item that doesn't resize -->
        </div>
    </div>
</div>
</div>