<div class="general-styles">
  <nav
    class="navbar navbar-expand-lg bg-body-tertiary"
    data-bs-theme="dark"
    style="
      background: linear-gradient(
        60deg,
        rgb(246, 250, 250) 5%,
        rgb(99, 29, 101) 55%,
        rgb(11, 11, 12) 100%
      );
    "
  >
    <div class="container-fluid">
      <a href="/home" title="Ir a la página principal de la UPB">
        <img
          src="../../../assets/Logo-UPB-2022.svg"
          class="logo-svg"
          alt="Logo UPB"
        />
      </a>
      <a class="container-fluid" href="#">
        <img src="../../../assets/logotipo-upb.svg" class="logo-svg" /> 
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink=""
              [ngClass]="{ active: menuOption == 'home' }"
              (click)="onOption('home')"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="products"
              [ngClass]="{ active: menuOption == 'products' }"
              (click)="onOption('products')"
              >Products</a
            >
          </li>
          <li class="nav-item">
            <a  class="nav-link" routerLink="docente" [ngClass]="{ active: menuOption == 'products' }"
              (click)="onOption('docente')"
              >Docente</a
            >
          </li>
          <li class="nav-item">
            <a  class="nav-link" routerLink="lateral" [ngClass]="{ active: menuOption == 'lateral' }"
              (click)="onOption('lateral')"
              >Lateral</a
            >
          </li>
          <li class="nav-item">
            <a  class="nav-link" routerLink="prueba" [ngClass]="{ active: menuOption == 'prueba' }"
              (click)="onOption('prueba')"
              >prueba</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="login"
              [ngClass]="{ active: menuOption == 'contact' }"
              (click)="onOption('contact')"
              >login</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
<div class="container-fluid wrap-footer">
  <footer class="mt-auto py-3 bg-dark text-light">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4 text-center text-md-left mb-3 mb-md-0 footer-logo">
          <img
            class="logo-svg img-fluid"
            src="../../../assets/logo-blanco.svg"
            alt="Logo"
          />
          <div class="vertical-line1 d-md-block" style="right: 5px"></div>
          <div class="vertical-line d-md-block"></div>
        </div>
        <div class="col-md-8 text-md-left">
          <div class="pl-md-3">
            <p class="small mb-1">
              Bucaramanga - Autopista Piedecuesta Km. 7 Tel: (+57) 607
              6796220<br />
              Medellín - Campus Laureles Circular 1 No. 70-01 Tel: (+57) 604
              4488388<br />
              Montería - Km. 8 vía a Cereté Tel: (+57) 604 7860146 | (+57) 604
              7860661<br />
              Palmira - Km. 1 Vía Tienda Nueva - Edificio Seminario Cristo
              Sacerdote 2<sup>do</sup> piso Tel: (+57) 602 270 2545 | (+57) 602
              275 9370
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <p class="small mb-1">
            Bucaramanga, Colombia © Copyright 2015 UPB ® Todos los Derechos
            reservados.<br />
            Universidad sujeta a inspección y vigilancia por el Ministerio de
            Educación Nacional. Resolución 17228 del 24 de octubre de 2018 - 6
            años.<br />
            Otorgado por el Ministerio de Educación Nacional. Nit UPB:
            890.902.922-6. Todos los Derechos reservados.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <div class="policy-msg d-none" id="idBoxPolicies">
            <p class="small">
              La Universidad Pontificia Bolivariana cuenta con una Política de
              Protección de Datos Personales, conforme a la Ley 1581 de 2012
              <a
                class="policy-btn policy-link"
                href="https://www.upb.edu.co/es/politica-de-privacidad-upb"
                title="Consultar nuestra Política"
                target="_blank"
                >Consultar nuestra Política</a
              >
              <a class="policy-btn" href="#">Aceptar</a>
            </p>
          </div>
        </div>
      </div>
      <a class="d-none" href="/htmlmap">&nbsp;</a>
      <a href="https://www.infotegra.com/" class="d-none"></a>
      <p>&nbsp;</p>
    </div>
  </footer>
</div>
